* {
    margin: 0;
    font-family:sans-serif
    }

    body {
    background-color: white;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    }

    .user {
    font-family: sans-serif;
    position: relative;
    left: 35px;
    top: 35px;
    }

    nav {
    height: 100%;
    max-width: 270px;
    background-color: #415E86;
    color: aliceblue;
    position: fixed;
    }

    nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 150px;
    }

    nav ul li {
    background-color: #415E86;
    font-size: 30px;
    border-top: 2px solid rgb(199, 91, 20);
    }

    nav ul li :hover {
    background-color: #7a96af;
    }

    nav ul li a {
    background-color: #415E86;
    padding: 10px;
    display: block;
    color: #f0f8ff;
    text-decoration: none;
    }

    .ultima {
    border-bottom: 2px solid rgb(199, 91, 20);
    }

    .container{
    border-radius: 5px;
    height: 860px;
    width: 800px;
    position: fixed;
    left: 280px;
    top: 39px;
    }

    input {
    padding: 3px;
    border-radius: 5px;
    width: 750px;
    border-color: #7a96af;
    position: relative;
    left: 10px;
    font-size: 19px;  
    }

    label{
    font-size: 20px;
    position: relative ;
    left: 15px;
    }

    input::placeholder {
    font-size: 19px;
    }

    .tabela {
    padding: 2px;
    background-color: #000000;
    color: #f0f8ff;
    width: 770px;
    height: 18px;
    position: relative;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: space-between;
    }

    .logo {
    position: relative;
    left: 1150px;
    top: 70px;
    width: 100px;
    height: 100px;
    color: aliceblue;
    }

    .num {
    position: relative;
    text-align: left;
    font-size: large;
    left: 35px;
    }

   .cont {
    position: relative;
    right: 25px;
    }

    .exemplo1 {
    border: 2px solid #7a96af;
    border-radius: 5px;
    padding: 20px;
    width: 730px;
    height: 30px;
    position: relative;
    top: 26px;
    left: 10px;
    font-size: medium;
  display: flex;
    justify-content: space-between;
    }
  .num1 {
   position: relative;
   left: 30px;
  font-size: larger;
  }
  .nome1 {
   position: relative;
   left: 30px;
  font-size: larger;
  }
  .cpf1 {
   position: relative;
   left: 30px;
  font-size: larger;
  }
  .cont1 {
  position: relative;
  font-size: larger;
  }

button{
padding: 5px;
margin-left: 15px;
margin-bottom: 5px;
background-color:rgb(199, 91, 20);
color: aliceblue;
border-radius: 5px;
border: 1px solid rgb(161, 75, 17);
}
button:hover {
background-color: rgb(214, 110, 41)}


.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s;
}

.conteudo-modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
padding: 20px;
border-radius: 5px;
border: 1px solid #415E86;
}

.fechar-modal {
display: block;
margin-top: 10px;
}

.abrir-modal:focus + .modal,
.modal:target {
opacity: 1;
visibility: visible;
transition-delay: 0s, 0s;
}

.input-modal{
width: 250px;}